[submodule "AspNet_Learning_HelloWorldClient"]
	path = AspNet_Learning_HelloWorldClient
	url = https://github.com/jmarvillier/AspNet_Learning_HelloWorldClient.git
	branch = master
[submodule "AspNet_Learning_ChooseResto"]
	path = AspNet_Learning_ChooseResto
	url = https://github.com/jmarvillier/AspNet_Learning_ChooseResto.git
	branch = master
